
@mixin palette($hex)  {
  &.bg {
    background: $hex;
    &.lighten {
      background: lighten($hex, 15%);
    }
    &.darken {
      background: darken($hex, 15%);
    }
  }
  &.text {
    color: $hex;
    &.lighten {
      color: lighten($hex, 15%);
    }
    &.darken {
      color: darken($hex, 15%);
    }
  }
  &.border {
    border-color: $hex;
  }
  &.box-shadow {
    box-shadow: 0 0 2px $hex;
    &.highlight {
      box-shadow: 0 0 0 2px $hex;
    }
    &.deep-15 {
      box-shadow: 0 0 15px $hex;
    }
  }
  &.text-shadow {
    text-shadow: 0 2px 4px $hex;
  }
}
