@import "palette";

.panel {
  @extend .pal-black-0-50.bg;
  @extend .pal-white-69.text;
  border-radius: 10px;
  padding: 16px;
  margin: 8px;

  &.compressed {
    padding: 8px;
  }
  &.spaced {
    padding: 24px;
  }
}
