@import "palette";
@import "variable";

.text-white {
  @extend .pal-white-69.text;
}

.label {
  @extend .pal-purple-4c.bg;
  @extend .pal-white-30.border;

  display: flex;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 0;

  &.primary {
    @extend .pal-purple-67.bg;

    .label-prefix, .label-postfix {
      @extend .pal-purple-67.bg.lighten;
    }
  }

  &.secondary {
    @extend .pal-purple-ee.bg;
    @extend .pal-black-0-50.text;

    .label-prefix, .label-postfix {
      @extend .pal-purple-ee.bg.lighten;
    }
  }

  &.success {
    @extend .pal-nasty-green.bg;

    .label-prefix, .label-postfix {
      @extend .pal-nasty-green.bg.lighten;
      @extend .pal-black-0-50.text;
    }
  }

  &.warning {
    @extend .pal-light-gold.bg;
    @extend .pal-black-0-50.text;
    @extend .pal-black-0-30.border;

    .label-prefix, .label-postfix {
      @extend .pal-light-gold.bg.lighten;
      @extend .pal-black-0-30.border;
    }
  }

  &.danger {
    @extend .pal-raspberry.bg;

    .label-prefix, .label-postfix {
      @extend .pal-raspberry.bg.lighten;
      @extend .pal-black-0-50.text;
    }
  }

  .label-prefix, .label-postfix {
    @extend .pal-purple-4c.bg.lighten;
    @extend .pal-white-30.border;

    font-weight: bold;
    padding: 4px 8px;
  }

  .label-prefix {
    border-radius: 4px 0 0 4px;
    border-right-width: 1px;
    border-right-style: solid;
    margin: -4px 8px -4px -8px;
  }

  .label-postfix {
    border-radius: 0 4px 4px 0;
    border-left-width: 1px;
    border-left-style: solid;
    margin: -4px -8px -4px 8px;
  }
}

.panel {
  @extend .pal-black-0-50.bg;
  @extend .pal-white-69.text;
  @extend .pal-black-0-50.box-shadow.deep-15;
  @extend .pal-white-30.border;

  border-radius: 6px;
  padding: 16px;
  border-width: 1px;
  border-style: solid;

  > .panel-header, > .panel-footer {
    @extend .pal-black-0-50.bg;
    @extend .pal-white-30.border;

    display: flex;
    align-items: center;
    margin: -16px;
    padding: 8px;
    user-select: none;

    .panel-title {
      margin: 0 0 0 16px;
    }
  }

  > .panel-header {
    border-radius: 6px 6px 0 0;
    margin-bottom: 16px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  > .panel-footer {
    border-radius: 0 0 6px 6px;
    margin-top: 16px;
    border-top-style: solid;
    border-top-width: 1px;
  }

  .panel-title {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1pt;
    margin: 0 0 0.5rem 0;
  }

  &.spaced {
    padding: 24px;

    > .panel-header {
      margin: -24px;
      padding: 12px;
      margin-bottom: 24px;
    }
    > .panel-footer {
      margin: -24px;
      padding: 12px;
      margin-top: 24px;
    }
  }

  &.compressed {
    padding: 8px;

    > .panel-header {
      margin: -8px;
      padding: 4px;
      margin-bottom: 8px;
    }
    > .panel-footer {
      margin: -8px;
      padding: 4px;
      margin-top: 8px;
    }
  }

  @media screen and (max-width: $display-small) {
    padding: 8px;

    > .panel-header {
      margin: -8px;
      padding: 4px;
      margin-bottom: 8px;
    }
    > .panel-footer {
      margin: -8px;
      padding: 4px;
      margin-top: 8px;
    }
  }
}

.app-container {
  @extend .verti, .items-center;
  padding: 16px;

  &.compact {
    padding: 8px;
  }
  @media screen and (max-width: 544px) {
    padding: 4px;
  }
}

.app-layout {
  @extend .verti, .w-full;

  &.app-layout-small {
    @extend .des-w-300;
  }
  &.app-layout-medium {
    @extend .des-w-500;
  }
  &.app-layout-large {
    @media screen and (min-width: 991px) {
      width: 700px;
    }
  }

  &.app-layout-huge {
    @media screen and (min-width: 991px) {
      width: 900px;
    }
  }
}
